body{
  margin: 0;
  padding: 0;
}
body>header {
    text-align: center;
    background: white;
    border-bottom:1px solid #DDD;
    font-size: 36px;
    padding: 10px 15px;
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index:1;
    box-shadow:0 0 10px 0 #999;
}

body>footer {
    text-align: center;
    margin-top: 20px;
}

footer span.link:not(:first-child)::before {
    content: '\25CF';
    padding-right: 9px;
    padding-left: 7px;
}

body>main {
    margin: 100px auto 0;
    max-width: 1000px;
    padding: 10px 20px;
}

main>section>header .heading {
    font-size: 28px;
    display: inline-block;
    margin-left: 20px;
}

main>section>article {
    padding: 10px 0;
}

.smiley {
    font-size: 20px;
}

.fixed{
/*position: fixed; */
}
